.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;
}
.todo-table {
  display: flex;
  /* border: 2px solid;  */
}
.table-header {
  border: 1px dashed;
  padding:10px;
}
.table-data {
  background: lightblue;
  border: 1px dashed;
  padding:10px;
}
